
.optionsWrapper {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.timeOpt {
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  -webkit-appearance:none;
  -moz-appearance: none;
  outline:0;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
}
 
input::-webkit-outer-spin-button{
  -webkit-appearance: none !important;
}
.timeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.timeWrapper span {
  color: #FF6F8A;
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.work, .rest {
  -moz-appearance: textfield;
  background: linear-gradient(#fff0f0, #ffd2e0);
  border: 0;
  border-radius: 10px;
  color: #FF6292;
  text-align: center;
  border-bottom: 4.43px solid #FF6292;
  font: bold 28.43px "Open Sans", sans-serif;
  margin: 7.2px 5.2px;
  padding: 5.2px 7.2px;    
  outline: 0;
}
.operation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.operation div{
  background: linear-gradient(#fff0f0, #ffd2e0);
  border-radius: 10px;
  color: #FF6292;
  text-align: center;
  border-bottom: 4.43px solid #FF6292;
  font: bold 28.43px "Open Sans", sans-serif;
  margin: 7.2px 5.2px;
  padding: 5.2px 7.2px;   
  cursor: pointer;
}